@import "tailwindcss";

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
}

:root {
    color-scheme: light;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}